<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }}{% else %}XI-Labs{% endif %}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ '/logo.png' | relative_url }}" type="image/x-icon">
  <style>

    .header-container {
      background-image: url('{{ '/assets/img/logo.png' | relative_url }}');
      background-size: 50px 50px; /* adjust size */
      background-repeat: no-repeat;
      padding: 10px;
    }
  </style>
</head>
<body>
  <header>
      <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Your Site Logo">

    <nav>
      <a href="/">Home</a> ||
      <a href="{{ '/IOT-Robotics' | relative_url }}">IOT</a> ||
      <a href="{{ '/AI-Development-Boards' | relative_url }}">AI Boards</a> || 
      <a href="{{ '/Sensor-Modules' | relative_url }}">Sensor Modules</a> ||
      <a href="{{ '/Microcontroller-Based-Solutions' | relative_url }}">Microcontrollers</a> ||
      <a href="{{ '/Blog' | relative_url }}">Blog</a>
        
    </nav>
    <h1>{% if page.title %}{{ page.title }}{% else %}XI-Labs{% endif %}</h1>
  </header>
  <main>
    {{ content }}
  </main>
</body>
</html>
